.App {
  /* background: rgba(238, 69, 64);
  height: 100vh;

  background: linear-gradient(
      199deg,
      rgba(238, 69, 64, 1) 0%,
      rgba(199, 44, 65, 1) 15%,
      rgba(128, 19, 54, 1) 30%,
      rgba(81, 10, 50, 1) 45%,
      rgba(45, 20, 44, 1) 100% */

      background-image: linear-gradient(to right top, #8c0483, #933d9c, #9a5eb2, #a37cc5, #ae98d6, #b898d3, #c197d0, #c997cd, #d078ab, #d1597f, #c63f4c, #ae3113);
  
}